{% extends 'base.html.twig' %}

{% block title %}Create Reservation{% endblock %}

{% block body %}
    <h2>Create Reservation</h2>
<div class="example-wrapper">
    {{ form(form) }}
</div>
{% endblock %}
