{% extends 'base.html.twig' %}

{% block title %}Products List{% endblock %}

{% block body %}
 <h2>Products List</h2>
    <!-- main body -->
    <!-- ################################################################################################ -->
        <div>
            
            <table>
            <tr>
                <th>Product name</th>
                <th>Base Price</th>
                <th>Final Price</th>
                <th></th>
            </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.basePrice }}</td>
                        <td>{{ product.finalPricesSum }}</td>
                        <td><a class="btn" href="/edit/editproduct/{{ product.id }}">Edit</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    


{% endblock %}
